@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

nav {
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.938);
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 1000;
  margin-bottom: 5px;
}

.asideleft {
  border: 1px none blue;
  width: 390px;
  background-color: rgba(255, 255, 255, 0.5);
}

main {
  background-color: rgb(245, 245, 245);
}

.mainContent {
  border: 1px none green;
  width: 50%;
  background-color: rgba(117, 54, 54, 0.7);
}

.headeruno {
  border: 1px none red;
  width: 390px;
  background-color: rgba(255, 255, 255, 0.938);
  padding: 20px 0 0;
  box-sizing: border-box;
  min-height: 100vh; /* Asegura que ocupe al menos el 100% del viewport height */
}

.encabezadouno {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  /* margin-bottom: 10px; */
  /* display: display-block; */
  /* border-bottom: 1px solid whitesmoke; */
  padding: 10px 20px;
}

.encabezadouno:hover {
  color: blue;
}

.textouno {
  color: rgb(94, 92, 92);
  font-size: 1.2rem;
  padding: 10px 20px;
  border-bottom: 1px solid whitesmoke;
  font-size: medium;
}

.headerdos,
.headertres {
  background-color: rgba(255, 255, 255, 0.938);
  padding: 15px;
  margin-top: 20px;
  border-bottom: 1px solid whitesmoke;
}

.textod, .encabezadot, .textodtres {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 5px;
}

.textodnuevo, .textodtres {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 5px;
}

.textodnuevoagain {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 0;
}

.textod:hover,
.encabezadot:hover {
  color: blue;
}

.textodnuevo:hover {
  color: blue;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
}

.letritas {
  font-size: small;
  color: rgb(185, 184, 184);
}

.pageContent {
  margin-top: 30px;
  display: flex;
}

.headernuevos {
  background-color: rgb(251, 252, 252);
  padding: 15px;
  margin-top: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 30%;
}

.column.middle {
  width: 40%;
}

.list {
  list-style-type: none;
  padding: 0;
}

.scroll {
  height: 200px;
  overflow-y: scroll;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  width: 100%;
}

.column.middle {
  width: 40%;
}

.list {
  list-style-type: none;
  padding: 0;
}

.scroll {
  height: 200px;
  overflow-y: scroll;
}

.tamaño {
  width: 20px;
}

li {
  margin-bottom: 10px;
}

ul {
  margin-left: 15px;
}

h2 {
  margin-bottom: 10px;
  font-size: 30px;
  margin-left: 0px;
  width: 310px;
}

h3 {
  margin-left: 0px;
}

.redes {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.lista {
  margin-top: 20px;
  margin-bottom: 20px;
}

.altura {
  height: 400px;
}

.koala {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cardleft {
  width: 370px;
  border: 1px solid rgb(243, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgb(237, 242, 247);
}

.textleft {
  width: 310px;
}

.linkleft {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.linkcreate {
  margin-bottom: 20px;
  font-size: 30px;
  border: 1px solid blue;
  border-radius: 10px;
  color: blue;
  padding: 10px;
}

.linklog {
  font-size: 30px;
  text-align: center;
}

.arriba {
  background-color: rgb(237, 242, 247);
}

.busqueda {
  display: flex;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
  /* background-color: grey; */
  width: 100%;
}

.header1 {
  display: flex;
  align-items: center;
}

.search {
  width: 220px;
  height: 53px;
  margin-left: 20px;
}

.boton {
  /* margin-right: 104px; */
  margin-left: 20px;
  width: 40px;
  height: 50px;
  /* margin-top: 2px;*/
}

.conecct {
  display: flex;
}

.loged {
  margin-right: 160px;
  margin-left: 973px;
  font-size: 30px;
}

.accounted {
  font-size: 30px;
  border: 1px solid blue;
  border-radius: 10px;
  color: blue;
  padding: 10px;
}

/*seccion de titulos*/
.navegacion {
  display: flex;
  justify-content: start;
}

.hipervinculo {
  padding: 2rem;
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-size: 2rem;
}

.relevante {
  font-weight: bold;
  color: rgb(23, 23, 23);
}

.hipervinculo:hover {
  color: blue;
  background-color: white;
}

/*Seccion imagen principal*/
.img_principal {
  margin-top: 2rem;
  width: 100%;
}

/*seccion comentarios*/
/*Seccion de contenedores*/
.contenedor_comentarios {
  width: 100%;
  background-color: white;
  padding: 2rem;
  margin-bottom: 1rem;
}

.info {
  display: flex;
}

.contenedor_perfiles {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.dev_contenedor {
  width: 100%;
  height: 100%;
}

.dev_logo {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.div_avatar {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 55%;
  left: 58%;
}

.div_avatar_principal {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.info_avatar {
  position: relative;
  left: 1.5rem;
  bottom: 1.6rem;
}

.titulo_comentario {
  position: relative;
  bottom: 4rem;
  left: 0;
}

.hastags {
  position: relative;
  bottom: 5rem;
  left: 60px;
  top: -40px;
}

.reacciones {
  position: relative;
  bottom: 3rem;
  left: 0;
  top: 0;
  height: 42.75px;
  width: 100%;
}

.contenedor_emoji {
  display: inline-block;
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  margin-right: -0.75em;
  width: 28px;
  height: 28px;
}

.emoji {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: -3px;
}

.contenedor_emojis {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}

.emojis {
  display: flex;
  align-items: center;
  height: 36px;
  padding-inline-end: 1em;
}

.chat {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  height: 36px;
  padding: 1rem;
}

.emojis_chat {
  display: flex;
  justify-content: space-between;
}

.vistos {
  display: flex;
  align-items: center;
}

.reacciones {
  display: flex;
  justify-content: space-between;
}

/*textos*/
p {
  color: rgb(64, 64, 64);
  font-size: 1.5rem;
}

.leido {
  font-size: 1.2rem;
  margin-right: 1em;
}

.guardar {
  padding: 1rem;
}

.fecha {
  font-size: 20px;
  color: rgb(64, 64, 64);
}

.comentario_principal {
  font-size: 25px;
  color: black;
  margin-left: 73px;
  margin-top: 50px;
}

.hastag {
  display: inline;
  color: rgb(64, 64, 64);
  padding: 0.5rem;
}

.contador {
  margin-left: 1em;
  margin-bottom: 1px;
  color: rgb(64, 64, 64);
}

/*hovers*/
.hastag:hover {
  color: rgb(23, 23, 23);
}

.discuss_hover:hover {
  background-color: rgba(132, 242, 122, 0.499);
  border: 1px solid rgb(6, 248, 6);
  border-radius: 1rem;
}

.weekly_hover:hover {
  background-color: rgba(244, 246, 137, 0.499);
  border: 1px solid rgb(228, 248, 6);
  border-radius: 1rem;
}

.gover_hover:hover {
  background-color: rgba(137, 215, 246, 0.499);
  border: 1px solid rgb(6, 228, 248);
  border-radius: 1rem;
}

.fastly_hover:hover {
  background-color: rgba(246, 137, 148, 0.499);
  border: 1px solid rgb(248, 6, 6);
  border-radius: 1rem;
}

.community_hover:hover {
  background-color: rgba(246, 137, 224, 0.499);
  border: 1px solid rgb(248, 6, 220);
  border-radius: 1rem;
}

.career_hover:hover {
  background-color: rgba(246, 137, 224, 0.978);
  border: 1px solid rgba(248, 6, 220, 0.593);
  border-radius: 1rem;
}

.devto_hover:hover {
  background-color: rgba(246, 186, 137, 0.978);
  border: 1px solid rgba(242, 213, 116, 0.141);
  border-radius: 1rem;
}

.beginner_hover:hover {
  background-color: rgba(124, 160, 121, 0.499);
  border: 1px solid rgb(6, 145, 6);
  border-radius: 1rem;
}

.writing_hover:hover {
  background-color: rgba(121, 135, 160, 0.499);
  border: 1px solid rgb(6, 59, 145);
  border-radius: 1rem;
}

.water_hover:hover {
  background-color: rgba(160, 121, 121, 0.499);
  border: 1px solid rgba(145, 6, 6, 0.592);
  border-radius: 1rem;
}

.contador:hover {
  color: rgb(23, 23, 23);
  cursor: pointer;
}

.guardar:hover {
  background-color: rgba(167, 163, 231, 0.832);
  cursor: pointer;
}

.emojis, .chat:hover {
  background-color: rgba(0, 0, 0, 0.035);
  border: transparent;
  border-radius: 2rem;
  color: rgb(23, 23, 23);
}

/*hastags*/
.hastag_discuss {
  color: rgba(24, 238, 9, 0.911);
}

.hastag_weekly {
  color: rgba(255, 255, 0, 0.71);
}

.hastag_gover {
  color: rgb(68, 244, 244);
}

.hastag_fastly {
  color: red;
}

.hastag_community {
  color: rgb(103, 4, 103);
}

.hastag_career {
  color: rgb(248, 26, 151);
}

.hastag_devto {
  color: rgb(248, 163, 5);
}

.hastag_beginner {
  color: rgb(151, 250, 4);
}

.hastag_writing {
  color: blue;
}

.hastag_water {
  color: brown;
}

@media (min-width: 600px) {
  .column {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .column {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .headeruno {
    width: 100%; /* El header ocupa el 100% del ancho en dispositivos pequeños */
  }
  .encabezadouno {
    font-size: 1.5rem;
  }
  .textouno {
    font-size: 1rem;
  }
  .textod,
  .encabezadot, .textodnuevo, .textodtres {
    font-size: 1rem;
  }
  .letritas {
    font-size: x-small;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .asideleft {
    width: 20%;
  }
  .mainContent {
    width: 50%;
  }
  .headeruno {
    width: 30%;
  }
}
@media only screen and (min-width: 993px) {
  .pageContent {
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */