:root {
    --accent-brand-lighter-rgb: 80, 99, 301;
    --accent-brand-rgb: 59, 73, 223;
    --accent-brand-darker-rgb: 47, 58, 178;
}
.cls-1 {
    fill: none;
  }

  .cls-2 {
    clip-path: url(#clippath);
  }

  .cls-3 {
    fill: #fff;
  }

  .cls-4 {
    fill: #0f0f0f;
  }
  .crayons-articule__cover {
    aspect-ratio: auto 1000 / 420;
  }
  .crayons-article__cover__image__feed {
    background-color: #dddddd;
  }

  /*Rama feat/jorge*/
 :root {
    --tag-bg: rgba(113, 234, 139, 0.1);
    --tag-prefix: #71ea8b;
    --tag-bg-hover: rgba(113, 234, 139, 0.1);
    --tag-prefix-hover: #71ea8b;
    --tag-bg: rgba(162, 255, 241, 0.1);
    --tag-prefix: #a2fff1;
    --tag-bg-hover: rgba(162, 255, 241, 0.1);
    --tag-prefix-hover: #a2fff1;
    --tag-bg: rgba(38, 190, 0, 0.1);
    --tag-prefix: #26be00;
    --tag-bg-hover: rgba(38, 190, 0, 0.1);
    --tag-prefix-hover: #26be00;
    --tag-bg: rgba(59, 73, 223, 0.1);
    --tag-prefix: #3b49df;
    --tag-bg-hover: rgba(59, 73, 223, 0.1);
    --tag-prefix-hover: #3b49df;
    --tag-bg: rgba(247, 150, 0, 0.1);
    --tag-prefix: #f79600;
    --tag-bg-hover: rgba(247, 150, 0, 0.1);
    --tag-prefix-hover: #f79600;
    --tag-bg: rgba(113, 234, 139, 0.1);
    --tag-prefix: #71ea8b;
    --tag-bg-hover: rgba(113, 234, 139, 0.1);
    --tag-prefix-hover: #71ea8b;
    --tag-bg: rgba(42, 37, 102, 0.1);
    --tag-prefix: #2a2566;
    --tag-bg-hover: rgba(42, 37, 102, 0.1);
    --tag-prefix-hover: #2a2566;
    --tag-bg: rgba(143, 250, 144, 0.1);
    --tag-prefix: #8ffa90;
    --tag-bg-hover: rgba(143, 250, 144, 0.1);
    --tag-prefix-hover: #8ffa90;
    --tag-bg: rgba(0, 131, 53, 0.1);
    --tag-prefix: #008335;
    --tag-bg-hover: rgba(0, 131, 53, 0.1);
    --tag-prefix-hover: #008335;
    --tag-bg: rgba(139, 235, 255, 0.1);
    --tag-prefix: #8bebff;
    --tag-bg-hover: rgba(139, 235, 255, 0.1);
    --tag-prefix-hover: #8bebff;
    --tag-bg: rgba(254, 255, 165, 0.1);
    --tag-prefix: #feffa5;
    --tag-bg-hover: rgba(254, 255, 165, 0.1);
    --tag-prefix-hover: #feffa5;
    --tag-bg: rgba(208, 236, 255, 0.1);
    --tag-prefix: #d0ecff;
    --tag-bg-hover: rgba(208, 236, 255, 0.1);
    --tag-prefix-hover: #d0ecff;
    --tag-bg: rgba(113, 234, 139, 0.1);
    --tag-prefix: #71ea8b;
    --tag-bg-hover: rgba(113, 234, 139, 0.1);
    --tag-prefix-hover: #71ea8b;
    --tag-bg: rgba(59, 73, 223, 0.1);
    --tag-prefix: #3b49df;
    --tag-bg-hover: rgba(59, 73, 223, 0.1);
    --tag-prefix-hover: #3b49df;
    --tag-bg: rgba(30, 56, 187, 0.1);
    --tag-prefix: #1e38bb;
    --tag-bg-hover: rgba(30, 56, 187, 0.1);
    --tag-prefix-hover: #1e38bb;
    --tag-bg: rgba(0, 131, 53, 0.1);
    --tag-prefix: #008335;
    --tag-bg-hover: rgba(0, 131, 53, 0.1);
    --tag-prefix-hover: #008335;
 }

